@using ASM_1670.ViewModel
@model ViewModelCart
@{
    ViewData["Title"] = "Index";
}
<button style="border: none;">
    <a asp-controller="Orders" class="btn btn-primary" asp-action="Index">List Orders</a>
</button>

    <form asp-action="BuyBooks" asp-controller="OrderDetails" method="post">

        <input asp-for="@Model.Order.Id" type="hidden" value="@Model.Order.Id" id="id @Model.Order.Id" />
        <input asp-for="@Model.Order.OrderStatus" type="hidden" value="@Model.Order.OrderStatus" id="id @Model.Order.OrderStatus" />
        <input asp-for="@Model.Order.PriceOrder" type="hidden" value="@Model.Order.Id" id="id @Model.Order.PriceOrder" />

        <table class="table table-bordered book__content table-dark col-8 ">
            <thead>
                <tr>
                    <th style="display: none">
                        Order
                    </th>
                    <th>
                        Name Product
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Price
                    </th>
                    <th class="action">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.OrderDetails.Count; i++)
                {
                    <tr>
                        <input asp-for="@Model.OrderDetails[i].Id" type="hidden" value="@Model.OrderDetails[i].Id" id="id @Model.OrderDetails[i].Id" />

                        <td style="display: none">
                            @Html.DisplayFor(modelItem => Model.OrderDetails[i].Order.Id)
                            <input asp-for="@Model.OrderDetails[i].IdOrder" type="hidden" value="@Model.OrderDetails[i].Order.Id" />

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.OrderDetails[i].Book.NameBook)
                            <input asp-for="@Model.OrderDetails[i].IdBook" type="hidden" value="@Model.OrderDetails[i].IdBook" />

                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="col-4 purchase" style="float: right">

            <div class="rounded d-flex flex-column p-2" style="background-color: #d3d3d3; ">
                <div class="p-2 me-3">
                    <h4 style="text-align:center; ">Order Recap</h4>
                </div>
                <div class="p-2 d-flex">
                    <div class="col-8" >Name: </div>
                    <div class="ms-auto ">@Model.FullName</div>

                </div>
                <div class="p-2 d-flex">
                    <div class="col-8" >Address: </div>
                    <div class="ms-auto " >@Model.Address</div>
                </div>

                <div class="border-top px-2 mx-2" ></div>
                <div class="p-2 d-flex pt-3">
                    <div class="col-8"><b >Total Order:</b></div>
                    <div class="ms-auto"><b class="text-success">@Model.Order.PriceOrder VND</b></div>
                </div>
            </div>
        </div>
    </form>

<style>
    th {
        text-align: center;
        color: #ff6600;
    }

    td {
        text-align: center;
    }

    .action {
        width: 30%;
    }
    .table{
        width: 66%;
    }
    .purchase{
        width: 40%;
        position: absolute;
        top: 15%;
        right: 1%;
    }
    .border-top{
        color:black;
    }
    footer{
        display: none;
    }
</style>